html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.vol{
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
}

#front{
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#name{
  margin-left: -30em;
  position: absolute;
}

ul{
  text-decoration: underline;
}

li{
  padding-left: 1em;
}

a{
  color: inherit;
}

.end{
  justify-content: flex-start;
  align-content:center;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
