.navigation {
  margin: 0;
  background: inherit;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;

  position: fixed;
  width: 100%;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.home{
  display: flex;
  justify-content: flex-start;
  width: 50%;
  /*flex-basis: 0;*/
}

.directories{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 0 2em 0;
}

#home{
  /*display: none;*/
}
