.front_slideshow{
  /*height: auto;
  width: inherit;/*/
  padding: 2vh 2vw;
}
/*this will stretch the slideshow imgs*/


.mySlides{
  display: none;
  height: inherit;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-width: thin;
  border-collapse: collapse;
  border-color: #999999;
}

.slideButtons{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  justify-content: center;

  position: absolute;
  width: 70%;
  height: 5vh;
  bottom: 0;

  z-index: 150;
}

.slidebtn{
  padding: 0 2vh;
  width: 4vh;
  height: 4vh;
  border: none;
}

.circle{
  border-style: groove;
  border-width: thin;
  border-color: #f2f2f2;

  width: 2vh;
  height: 2vh;
  border-radius: 50%;

  background: inherit;
  opacity: 0.7;

  cursor: pointer;
}

#btn1:hover{
  background: #f2f2f2;
  opacity: 0.5;
}

#btn2:hover{
  background: #f2f2f2;
  opacity: 0.5;
}

#btn3:hover{
  background: #f2f2f2;
  opacity: 0.5;
}

#btn4:hover{
  background: #f2f2f2;
  opacity: 0.5;
}
