#me{
  border-style: outset;
  border-width: thin;
  border-color: inherit;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  position: relative;
}

.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /*margin-left: 6vh;*/
}

.icons {
  opacity: 0.5;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 400ms ease;
}

.icons:hover{
  cursor: pointer;
  opacity: 1;
}

.icons a {
    color: inherit;
    text-decoration: none;
  }

.social_icon{
  padding: 0 2em 0 1em;
}

.social_icon img{
  transition: opacity 500ms ease;
}

.facebook{
  position: absolute;
}

.twitter{
  position: absolute;
}

.instagram{
  position: absolute;
}

.linkedin{
  position: absolute;
}

.vimeo{
  position: absolute;
}

.youtube{
  padding-top: 0.7em;
  position: absolute;
}

.social_icon img#fbc{
  opacity: 0;
}

.social_icon img#tweetc{
  opacity: 0;
}

.social_icon img#instc{
  opacity: 0;
}

.social_icon img#lic{
  opacity: 0;
}

.social_icon img#vimc{
  opacity: 0;
}

.social_icon img#ytc{
  opacity: 0;
}

/*On hover*/
.social_icon img#fbc:hover{
  opacity: 1;
}

.social_icon img#tweetc:hover{
  opacity: 1;
}

.social_icon img#instc:hover{
  opacity: 1;
}

.social_icon img#lic:hover{
  opacity: 1;
}

.social_icon img#vimc:hover{
  opacity: 1;
}

.social_icon img#ytc:hover{
  opacity: 1;
}
